.card-container {
  width: 100%;
  margin-block: 10px;
}

.project-image {
  width: 100%;
}

.text-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: 18px;
}

.duration-container {
  display: flex;
  align-items: center;
}

.duration {
  margin-left: 10px;
}

.description {
  margin-top: 0;
}

.visit-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #0967d2;
}